export(df.sorter,
       multi.freq.table,
       RandomNames,
       row.extractor,
       sample.size,
       stratified,
       stringseed.sampling,
       table2df,
       aggregate2,
       CBIND,
       dfcols.list,
       LinearizeNestedList,
       load.scripts.and.data,
       makemeNA,
       mv,
       round2,
       SampleToSum,
       subsequence,
       RBIND,
       read.so,
       getSize,
       mySOreputation,
       QAList,
       SOCodeBlocks,
       readClip,
       expandrows,
       rownames2col,
       moveme)
S3method(print, stringSeedSampling)
S3method(print, subSequence)
S3method(print, sampletosum)
S3method(print, SOCodeBlocks)
S3method(print, QAList)
